@import '../styles/index.scss';

.navbar{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 10px;
  .top{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 50px;
    @include mobile{
      padding: 5px 20px;
    }

    h2{
      font-size: 41px;
      @include mobile{
        font-size: 26px;
      }
    }
    .categort_title{
      position: absolute;
      top: 93%;
      left: 35%;
      background-color: #F3F4F6;
      font-size: 10px;
      padding: 2px 6px;
      border-radius: 10px;
    }
    .filter__clear{
      position: absolute;
      left: 17%;
      top: 30%;
      background-color: #F3F4F6;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 10px;
      border: 1px solid #000;
      cursor: pointer;
      @include mobile{
        font-size: 10px;
        padding: 2px 6px;
        top: 90%;
        left: 63%;
      }
    }
    .search{
      position: relative;
      height: 50px;
      width: 60%;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      border: 1px solid #000;
      @include mobile{
        height: 30px;
      }
      
      .filter{
        height: 100%;
        width: 15%;
        select{
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          font-size: 22px;
          padding: 5px;
          background-color: #F3F4F6;
          
          @include mobile{
            font-size: 10px;
          }
          option{
            padding: 5px 10px;
          }
        }
      }
      input{
        height: 100%;
        width: 90%;
        padding: 5px 10px;
        font-size: 22px;
        border: none;
        outline: none;
        @include mobile{
          width: 70%;
          font-size: 10px;
        }
      }
      .clear__btn{
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 22px;
        background-color: #F3F4F6;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        cursor: pointer;
        @include mobile{
          height: 15px;
          width: 15px;
          right: 22%;
          font-size: 12px;
        }
      }
      .btn{
        height: 100%;
        width: 10%;
        background: #F3F4F6;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include mobile{
          width: 20%;
        }
      }
      .btn:hover{
        background: #cfcfcf;
      }
      
    }
    .search__suggestions{
      position: absolute;
      background-color: #fff;
      width: 40vw;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      @include mobile{
        width: 60vw;
        font-size: 12px;
        left: 60%;
      }
      .suggestion{
        padding: 5px 10px;
        border-bottom: 1px solid #dadada;
        cursor: pointer;
        
      }
      .suggestion:hover{
        background-color: rgb(204, 201, 201);
      }
    }
    .cart{
      position: relative;
      font-size: 22px;
      cursor: pointer;
      .cart-count{
        position: absolute;
        display: inline-block;
        background: red;
        padding: 0px 5px;
        border-radius: 50%;
        color: #fff;
        @include mobile{
          font-size: 16px;
          padding: 0 4px;
          right: -7px;
          bottom: 1px;
        }
      }
    }
  }
  .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    ul{
      display: flex;
      align-items: center;
      gap: 40px;
      @include mobile{
        gap: 20px;
      }
      li{
        font-size: 22px;
        font-weight: bold;
        @include mobile{
          font-size: 16px;
        }
      }
      li:hover{
        text-decoration: underline;
      }
    }
  }
}