@import '../styles/index.scss';

.productDetails{
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 100px 40px;
  @include mobile{
    padding: 20px;
   flex-direction: column;   
  }
  @include mobile{
    height: calc(100vh - 85px);
  }
  .box{
    height: 100%;
    border-radius: 20px;
    border: 2px solid gray;
    overflow: hidden;
  }
  .left{
    width: 40%;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    @include mobile{
      height: 50%;
      width: 100%;
    }
  }
  .right{
    width: 60%;
    padding: 40px 20px;
    overflow-y: auto;
    @include mobile{
      padding: 20px;
    }
    .title{
      font-size: 42px;
      font-weight: bold;
      margin-bottom: 10px;
      @include mobile{
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
    .price{
      font-size: 32px;
      color: gray;
      font-weight: bold;
      margin-bottom: 10px;
      @include mobile{
        font-size: 22px;
        margin-bottom: 5px;
      }
    }
    .desc{
      font-size: 20px;
      margin-bottom: 10px;
      @include mobile{
        font-size: 10px;
      }
    }
    .stars{
      color: orange;
      font-size: 28px;
    }
    @include mobile{
      height: 50%;
      width: 100%;
    }
  }
  .addto__Cart{
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #DC2626;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    @include mobile{
      padding: 5px 10px;
    }
  }
  .addto__Cart:hover{
    background-color: #fb1818;
  }
}
#not__found{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 62px;
    color: gray;
    font-weight: 900;
  }
}